
/* Webfont: LatoLatin-Black */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-Black.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-Black.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-Black.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-BlackItalic */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-BlackItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-BlackItalic.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-BlackItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 900;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Bold */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-Bold.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-Bold.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-BoldItalic */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-BoldItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-BoldItalic.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Hairline */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-Hairline.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-Hairline.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-Hairline.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-Hairline.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-HairlineItalic */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-HairlineItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-HairlineItalic.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-HairlineItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Heavy */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-Heavy.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-Heavy.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-Heavy.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-Heavy.ttf') format('truetype');
	font-style: normal;
	font-weight: 800;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-HeavyItalic */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-HeavyItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-HeavyItalic.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-HeavyItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 800;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Italic */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-Italic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-Italic.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-Italic.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Light */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-Light.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-Light.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-LightItalic */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-LightItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-LightItalic.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-LightItalic.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-LightItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Medium */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-Medium.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-Medium.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-Medium.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-MediumItalic */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-MediumItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-MediumItalic.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-MediumItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 500;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Regular */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Semibold */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-Semibold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-Semibold.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-Semibold.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-Semibold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-SemiboldItalic */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-SemiboldItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-SemiboldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 600;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Thin */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-Thin.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-Thin.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-Thin.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-Thin.ttf') format('truetype');
	font-style: normal;
	font-weight: 200;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-ThinItalic */@font-face {
	font-family: 'Lato';
	src: url('../fonts/LatoLatin-ThinItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LatoLatin-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/LatoLatin-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/LatoLatin-ThinItalic.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LatoLatin-ThinItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 200;
	text-rendering: optimizeLegibility;
}


@import "variables";

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Lato;
}

.navbar {
	background: url(../images/navbar-bg.svg) center top no-repeat;
	border: none;
	height: 85px;
	min-height: 75px;



	.btn-default {
		background: transparent;
		border: 2px solid $brand-primary;
		border-radius: 10px;
		color: $brand-primary;
		font-size: 12px;
		padding-left: 15px;
		padding-right: 15px;
		font-weight: 700;
		padding: 12px 14px 24px 14px;
		border-bottom-left-radius: 0px;

		&:hover {
			background: $brand-primary;
			color: #fff;
			font-size: 14px;
			border: 2px solid $brand-primary;
			transition-duration: 0.2s;
			font-weight: 700;
		}

		&:focus {
			background: #086ed6;
			color: #fff;
			border: 2px solid #3D6CB4;
			transition-duration: 0.2s;
			font-weight: 700;
		}

		&:active {
			background: #086ed6;
			color: #fff;
			border: 2px solid #3D6CB4;
			transition-duration: 0.2s;
			font-weight: 700;
		}

		&:active:focus {
			background: #086ed6;
			color: #fff;
			border: 2px solid #3D6CB4;
			transition-duration: 0.2s;
			font-weight: 700;
		}
	}


	.call2action {
		float: right;
		margin-left: 15px;

		.btn-top {
			background: #1080f2;
			color: #fff;
			padding: 7px 35px;
			border-radius: 10px;
			margin-top: 19px;
			transition-duration: .2s;
			font-weight: 600;
			font-size: 14px;

			&:hover {
				background: #086ed6;
				transition-duration: 0.2s;
			}
		}
	}

	.navigation-right {
		float: right;
	}

	.navbar-brand {
		float: left;
		padding: 0px;
		height: 18px;
		line-height: 20px;
		height: auto;
		margin-left: 0px !important;
	}

	.navbar-brand > img {
		display: block;
		height: 49px;
		margin-top: 12px;
		padding: 0;
	}

	.lang {
		float: left;
		margin-top: 16px;
		margin-left: 15px;
	}

	.btn-default {
		color: $text-color;
		background-color: transparent;
		font-size: 14px;
		font-weight: 500;
		border-bottom-right-radius: 0px;
		border-color: transparent;

		&:hover {
			color: #fff;
			font-size: 14px;
		}
	}

	.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
		color: #fff;
		background-color: #0B67C4;
		border-bottom-left-radius: 0px;
		border-color: transparent;
	}

	.btn-default.active, .open {
		color: #fff !important;
	}

	.dropdown-menu {
		background-color: #0B67C4;
		border: transparent;
		border-top-left-radius: 0px;

		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		margin: 0px;
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		background-clip: padding-box;
	}

	.dropdown-menu > li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		font-size: 14px;
		line-height: 1.82857;
		color: #7d7d7d;
		white-space: nowrap;
		color: #fff;
	}

	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		text-decoration: none;
		color: #fff;
		background: #086ed6;
	}

	.navbar-nav {
		li {
			a {
				font-weight: 600;
				color: $text-color;
				padding-top: 27px;
				padding-bottom: 26px;
				font-size: 15px;

				&:hover {
					color: $brand-primary;
					transition-duration: 0s;
				}
			}
		}


		.active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
			color: $brand-primary;
			background: transparent url(../images/navDot.svg) center top no-repeat;
		}

	}
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: $brand-primary;
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: $brand-primary;
	background-color: transparent;
}

.navbar-inverse .navbar-toggle {
	border-color: #0C69C7;
	margin-right: 20px;
}

* {
	outline: none !important;
}

.navbar-bg {
	background-color: $brand-primary !important;
	transition-duration: 0.2s;
    // -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}



.group-form        { 
	position:relative; 
	margin-bottom:30px; 
}
input         {
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	background: transparent;
	width:100%;
	border:none;
	border-bottom:1px solid $brand-primary;
}
input:focus     { outline:none; }


textarea        {
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	background: transparent;
	width:100%;
	padding-right: 115px;
	font-size: 14px;
	color: $brand-primary;
	border:none;
	border-bottom:1px solid $brand-primary;
}
textarea:focus     { outline:none; }

label          {
	color: $brand-primary;
	font-size:18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.2s ease all; 
}

.group-form-textarea label {
	top: 22px;
}

.group-form-textarea {
	margin-bottom: 0px;
}

/* active state */
input:focus ~ label, input:valid ~ label     {
	top:-20px;
	font-size:14px;
	color: $brand-primary;
}

/* active state */
textarea:focus ~ label, textarea:valid ~ label     {
	top:-20px;
	font-size:14px;
	color: $brand-primary;
}


/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width: 100%; }
.bar:before, .bar:after   {
	content:'';
	height:2px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background: $brand-primary;
	transition:0.2s ease all; 
}
.bar:before {
	left:50%;
}
.bar:after {
	right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
	width:50%;
}

/* active state */
textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
	width:50%;
}


.highlight {
	position:absolute;
	height:60%; 
	width:100px; 
	top:25%; 
	left:0;
	pointer-events:none;
	opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
	animation:inputHighlighter 0.3s ease;
}

textarea:focus ~ .highlight {
	animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
	from  { background:#5264AE; }
	to    { width:0; background:transparent; }
}



input:focus ~ label, input:valid ~ label {
	top:-20px;
	font-size:14px;
	color:$brand-primary;
}


textarea:focus ~ label, textarea:valid ~ label {
	top:-20px;
	font-size:14px;
	color:$brand-primary;
}


.btn-default {
	background: transparent;
	border: 2px solid $brand-primary;
	border-radius: 5px;
	color: $brand-primary;
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 700;
	padding-left: 15px;
	padding-right: 15px;

	&:hover {
		background: $brand-primary;
		color: #fff;
		font-size: 16px;
		border: 2px solid $brand-primary;
		transition-duration: 0.2s;
		font-weight: 700;
	}

	&:focus {
		background: #086ed6;
		color: #fff;
		border: 2px solid #3D6CB4;
		transition-duration: 0.2s;
		font-weight: 700;
	}

	&:active {
		background: #086ed6;
		color: #fff;
		border: 2px solid #3D6CB4;
		transition-duration: 0.2s;
		font-weight: 700;
	}

	&:active:focus {
		background: #086ed6;
		color: #fff;
		border: 2px solid #3D6CB4;
		transition-duration: 0.2s;
		font-weight: 700;
	}
}



section.introduction {
	background: $brand-primary;
	color: #fff;
	min-height: 475px;
	padding-top: 120px;
	float: left;
	width: 100%;

	h1 {
		font-size: 28px;
	}

	p {

	}

	.mountains {
		margin-top: 38px;
		margin-bottom: -1px;
		float: right;
	}

	#particles-js {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

}

section.tag-list {
	min-height: 65px;
	float: left;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #f1f1f1;
	box-shadow: 0 0 4px 0 rgba(227,227,227,0.50);

	.btn {
		float: right;
		margin-top: 13px;
		padding-left: 60px;
		padding-right: 60px;
	}

	ul {
		margin: 0px;
		padding: 22px 0 0 0px;
		float: left;
		li {
			display: inline;
			list-style: none;
			margin-bottom: 15px;
			float: left;
			color: #253746;
			margin-right: 15px;
		}
	}
}

section.socialIcon {
	padding: 20px 0;
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	float: left;
	width: 100%;

	.icon {
		text-align: center;
	}
}

section.content-lay-1 {
	background-image: linear-gradient(180deg, #f8fafb 0%, #eef3f5 100%);
	padding: 60px 0 30px 0;
	float: left;
	width: 100%;

	.btn {
		float: left;
		font-size: 14px;
		padding: 4px 15px;
		margin-top: 15px;
	}

	.tab {
		margin-top: 60px;
		min-height: 275px;

		.nav-tabs {
			border: 1px solid #ddd;
			border-radius: 9px;
			margin-bottom: 15px;
			background: #fff;
		}
		.nav-tabs > li {
			margin-bottom: 0px;
			border-radius: 0px;

			&:first-child {
				border-bottom: 1px solid #eee;
			}
		}

		.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
			color: #4A4A4A;
			background-color: transparent;
			opacity: 1;


			h3 {
				color: $brand-primary;
			}
		}

		.nav-tabs > li > a {
			margin-right: 0px;
			line-height: 1.42857;
			border-radius: 0px;
			border: none;
			background: transparent;
		}

		ul {
			li {
				color: #4A4A4A;
				font-size: 13px;

				a {
					color: #4A4A4A;
					opacity: 0.7;

					&:hover {
						opacity: 0.9;
					}
				}

				h3 {
					font-size: 22px;
					margin: 10px 0 5px 0;
					font-weight: 600;
					line-height: 27px;
					color: #4A4A4A;
				}
			}
		}
	}
}

.titleSection {
	h1 {
		font-size: 36px;
		margin: 0px;
		font-weight: 400;
		color: $brand-primary;
	}

	h2 {
		color: #4a4a4a;
		font-size: 32px;
		margin: 0px;
		font-weight: 300;
		margin-top: 5px;
		margin-bottom: 20px;
	}

	h4 {
		color: #4a4a4a;
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
	}
}



section.portfolioSlider {

}

section.services {
	padding: 75px 0 0px 0;
	float: left;
	width: 100%;

	.btn {
		float: left;
		font-size: 14px;
		padding: 4px 15px;
		margin-top: 15px;
		margin-bottom: 30px;
	}

	.line-service {
		background-color: #f4f7f8;
		padding: 60px 0 0 0;
		margin-bottom: 6px;



		.blockgrid-5 {
			width: 20%;
			padding: 0 3px;
			float: left;
		}

		.blockgrid-4 {
			width: 25%;
			padding: 0 3px;
			float: left;
		}

		.blockgrid-3 {
			width: 33.333%;
			padding: 0 3px;
			float: left;
		}

		.cleanline {
			float: left;
			width: 100%;
		}

		.btn-default {
			float: right;
			font-size: 12px;
			background: #4A4A4A;
			color: #fff;
			border: none;

			&:hover {
				background: darken(#4A4A4A, 10%);
				color: #fff;
			}
		}

		.box {
			background: #fff;
			border-radius: 5px;
			color: #4A4A4A;
			font-size: 13px;
			font-weight: 600;
			text-align: center;
			padding: 10px;
			float: left;
			width: 100%;

			img {
				display: initial;
			}

			span {
				float: left;
				width: 100%;
				margin-top: 10px;
				font-size: 12px;
			}

		}

		h1 {
			margin: 0px;
			font-size: 24px;
			margin-top: 25px;
			font-weight: 500;
			color: $brand-primary;
		}

		h2 {
			margin: 0px;
			color: #4a4a4a;
			font-size: 32px;
			font-weight: 300;
			margin-top: 5px;
			margin-bottom: 20px;
		}

		p {
			font-size: 16px;
			color: #4A4A4A;
		}
	}

	.first {
		background-image: linear-gradient(-180deg, #FFFFFF 0%, #F4F7F8 27%);
	}

}

hr {
	border-top: 1px solid rgba(0, 0, 0, 0.075);
}

.personCard {
	background: #fff;
	border: 1px solid #e7e7e7;
	box-shadow: 0px 0px 15px 0px rgba(43,57,64,0.17);
	padding: 15px;
	font-size: 13px;
	margin-bottom: 30px;
	text-align: right;
	float: right;
	width: 100%;

	h5 {
		font-size: 16px;
		font-weight: 600;
		color: #1080f2;
		background: url(../images/line-title.png) 100% 100% no-repeat;
		padding-bottom: 10px;
		margin-top: 41px;
	}

	p.about {
		font-size: 13px;
	}

	a {
		color: $text-color;

		&:hover {
			color: $brand-primary;
			text-decoration: none;
		}
	}

	img {
		float: left;
		height: 150px;
		margin-top: 17px;
		margin-bottom: 15px;
	}

	hr {
		margin-top: 2px;
		margin-bottom: 12px;
	}
}

section.ourTechnology {
	padding: 80px 0 60px;
	float: left;
	width: 100%;

	.icon {
		margin-top: 30px;
		text-align: center;

		.img-responsive {
			display: initial !important;
			height: 90px;
		}
	}

	.icon-line-1 {
		margin-top: 60px;
	}

}


.pager li {
	display: inline;
	margin: 3px;
}

.pager li>a, .pager li>span {
	display: inline-block;
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
	font-size: 14px;
	font-weight: 600;
}



section.portfolioLine {
	padding: 45px 0 0 0;
	float: left;
	width: 100%;
	margin-bottom: 0px;

	.btn {
		float: left;
		font-size: 14px;
		padding: 4px 15px;
		margin-top: 15px;
	}

	.titleSection {
		padding-bottom: 40px;
		float: left;
		width: 100%;
	}

	.item {
	}

	.carousel, 
	.carousel-inner, 
	.carousel-inner .item {
		height: 100%;
	}

	.details {
		color: #fff;
		margin-top: 80px;

		.company {
			float: left;
			width: 100%;
		}

		.contentSlide {
			float: left;
			height: 255px;
		}

		.navBottom {
			margin-top: 10px;
			.btn {
				background: transparent;
				color: #fff;
				padding: 5px 15px;
				font-size: 14px;
				border-color: #fff;
				transition-duration: 0.2s;

				&:hover {
					background: #fff;
					border-color: #fff;
					color: $brand-primary;
					transition-duration: 0.2s;
				}
			}
		}

		h5 {
			font-size: 13px;
			font-weight: 700;
			margin-bottom: 5px;
		}

		h6 {
			margin-top: 0px;
			margin-bottom: 0px;
			padding-bottom: 0px;
			font-size: 13px;
			font-weight: 500;
		}

		hr {
			width: 80px;
			float: left;
			color: #fff;
			background: #fff;
		}

		h2 {
			font-weight: 700;
			font-size: 24px;
			margin-top: 5px;
			width: 100%;
			float: left;
		}

		p {
			font-size: 14px;
		}


	}




	.one {
		background-size: cover;
		margin-bottom: 210px;
	}

	.two {
		background-size: cover;
		margin-bottom: 210px;
	}

	.three {
		background-size: cover;
		margin-bottom: 80px;
	}




}



section.presentProjecIntro {
	height: 600px;
	float: left;
	width: 100%;


	.carousel-indicators {
		position: initial;
		left: auto;
		right: auto;
		top: auto;
		text-align: center;
		bottom: auto;
		margin-left: 0;
		float: left;
		margin: 0 5px;
		float: left;
		width: auto;
	}

	.navSlide {
		position: absolute;
		left: 0px;
		right: 0px;
		top: initial;
		text-align: right;
		bottom: 60px;
		margin-left: initial;
		z-index: 99;
		pointer-events: none;

		.boxNav {
			float: right;
			pointer-events: all;

			.left-slide {
				float: left;
				color: #fff;
				font-size: 13px;
				margin-top: 2px;
			}

			.right-slide {
				float: right;
				color: #fff;
				font-size: 13px;
				margin-top: 2px;
			}
		}

		.carousel-indicators .active {
			margin: 1px;
			width: 10px;
			height: 10px;
			background-color: #fff;
		}

		.carousel-indicators li {
			width: 10px;
			height: 10px;
			margin: 1px;
		}

	}

	.carousel-fade {
		.carousel-inner {
			.item {
				transition-property: opacity;
			}

			.item,
			.active.left,
			.active.right {
				opacity: 0;
			}

			.active,
			.next.left,
			.prev.right {
				opacity: 1;
			}

			.next,
			.prev,
			.active.left,
			.active.right {
				left: 0;
				transform: translate3d(0, 0, 0);
			}
		}

		.carousel-control {
			z-index: 2;
		}
	}



	.carousel, 
	.carousel-inner, 
	.carousel-inner .item {
		height: 100%;
	}

	.details {
		color: #fff;
		margin-top: 30px;

		.company {
			float: left;
			width: 100%;
		}

		.contentSlide {
			float: left;
			height: 255px;
		}

		.navBottom {
			margin-top: 10px;
			.btn {
				background: transparent;
				color: #fff;
				padding: 5px 15px;
				font-size: 14px;
				border-color: #fff;
				transition-duration: 0.2s;

				&:hover {
					background: #fff;
					border-color: #fff;
					color: $brand-primary;
					transition-duration: 0.2s;
				}
			}
		}

		h5 {
			font-size: 13px;
			font-weight: 700;
			margin-bottom: 5px;
		}

		h6 {
			margin-top: 0px;
			margin-bottom: 0px;
			padding-bottom: 0px;
			font-size: 13px;
			font-weight: 500;
		}

		hr {
			width: 80px;
			float: left;
			color: #fff;
			background: #fff;
		}

		h2 {
			font-weight: 700;
			font-size: 24px;
			margin-top: 5px;
			width: 100%;
			float: left;
		}

		p {
			font-size: 14px;
		}


	}


	#carousel-example-generic{

		.item {
			height: 600px;
			padding-top: 137px;
		}

		.one {
			background: url(../images/slide-1.jpg) top center;
			background-size: cover;
		}

		.two {
			background: url(../images/slide-2.jpg) top center;
			background-size: cover;
		}

		.three {
			background: url(../images/slide-1.jpg) top center;
			background-size: cover;
		}

	}



}


section.introCompany {
	min-height: 600px;
	background: $brand-primary url(../images/introCompanyMap.png) 15% 30% no-repeat; 
	padding: 75px 0 0px 0;
	float: left;
	width: 100%;
	background-size: 40%;
	

	.introCompanyAnim {
		margin-top: 96px;
	}

	.titleSection {
		padding-top: 140px;


		.btn-default {
			background: #fff;
			color: $brand-primary;
			font-size: 15px;
			margin-top: 15px;

			&:hover {
				background: rgb(243, 249, 255);
				color: $brand-primary;

			}
		}

		h1 {
			font-size: 36px;
			margin: 0px;
			font-weight: 400;
			color: #fff;
		}

		h2 {
			color: #fff;
			font-size: 32px;
			margin: 0px;
			font-weight: 300;
			margin-top: 5px;
			margin-bottom: 20px;
		}

		h4 {
			color: #fff;
			font-size: 17px;
			font-weight: 600;
			line-height: 22px;
		}

		h5 {
			color: #fff;
			font-size: 16px;
			margin-bottom: 5px;
			font-weight: 600;
			line-height: 22px;
		}
	}

}



section.processService {
	min-height: 830px;
	overflow: hidden;
	float: left;
	width: 100%;
	padding: 175px 0 80px;
	background: #f4f7f8 url(../images/process.png) 0 0 no-repeat;
	.titleSection {
		text-align: center;
		height: 120px;

		h5 {
			text-transform: uppercase;
			font-weight: 600;
			color: $text-color;
		}

		h1 {
			font-size: 42px;
			font-weight: 700;
		}
	}

	.process {
		margin-top: 120px;
	}



	.processC3 {
		text-align: center;
	}

	.last {

		text-align: center;

		.contentProcess {
			margin-top: 8px;
		}

		.titleProcess {
			font-size: 14px;
			font-weight: 800;
			text-transform: uppercase;
			margin-top: 10px;
			float: left;
			width: 100%;
			text-align: center;
		}


	}

	.img-line {
		float: left;
		width: 100%;
	}

	.titleProcess {
		font-size: 14px;
		font-weight: 800;
		text-transform: uppercase;
		margin-top: 19px;
		float: left;
		width: 100%;
		text-align: center;

		.left {
			float: left;
			width: 108px;
			text-align: center;
		}

		.right {
			float: right;
			width: 108px;
			text-align: center;
		}
	}

	.contentProcess {
		float: left;
		width: 100%;
		font-size: 14px;
		font-style: italic;
		margin-top: 29px;

		p {
			margin-top: 32px;
			float: left;
			width: 100%;
		}
	}

	.process-box {
		background: #fff;
		border: 1px solid #DCDCDC;
		box-shadow: 0px 2px 4px 0px rgba(159,159,159,0.50);
		border-radius: 0px 0px 7px 7px;
		float: left;
		text-align: center;
		width: 100%;
		padding: 0 30px 10px 30px;
		margin-top: 30px;

		.call2action {
			float: left;
			width: 100%;
			text-align: center;
			margin-left: 0px;
			margin: 10px 0 20px 0;

			.btn-top {
				background: #1080f2;
				color: #fff;
				padding: 7px 35px;
				border-radius: 10px;
				margin-top: 19px;
				transition-duration: .2s;
				font-weight: 600;
				font-size: 14px;

				&:hover {
					background: #086ed6;
					transition-duration: 0.2s;
				}
			}
		}

		.icon {
			margin: 0 auto;
			text-align: center;
			position: relative;
			top: -21px;
		}

		p {
			text-align: right;
			padding-bottom: 2px;
			font-size: 12px;
			text-align: center;

			&:nth-child(even) {
				text-align: left;
			}
		}
	}

	.processLine {
		height: 6px;
		background: $brand-primary;
		position: relative;
		top: 60px;
		margin-left: 10px;
		margin-right: 165px;
	}


	.processC2 {
		float: right;
	}



	.carousel-indicators .active {
		margin: 0;
		width: 10px;
		margin: 1px;
		height: 10px;
		background-color: #c7c7c7;
		border: 1px solid #c7c7c7;
	}


	.carousel-indicators li {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 1px;
		text-indent: -999px;
		border: 1px solid #c7c7c7;
		border-radius: 10px;
		cursor: pointer;
		background-color: transparent;
	}

	.carousel-indicators {
		top: -25px;
		bottom: initial;
	}


	.nav-tabs {
		border-bottom: none;
		border: 2px solid #1080F2;
		border-radius: 100px;
		background: #1080F2;
		width: 400px;
		margin: 60px auto;

		li {
			float: left;
			margin-bottom: 0px;
			width: 100%;
			text-align: center;

			a {
				font-size: 16px;
				font-weight: 600;
				color: #fff;
				margin-right: 0px;
			}
		}



		> li.active > a, > li.active > a:hover, > li.active > a:focus {
			color: #1080f2;
			background-color: #fff;
			border: 1px solid #fff;
			border-bottom-color: transparent;
			border-radius: 100px;
		}

		> li > a:hover {
			border: 1px solid #006ad6;
			border-radius: 100px;
			color: #fff;
			background-color: #006ad6;
		}


	}


}

.wycena-projektu footer {
	display: none;
}

section.reference {
	background: #F4F7F8 url(../images/reference-bg.png) bottom right no-repeat;
	padding: 75px 0 30px 0;
	float: left;
	width: 100%;

	.opinion {
		margin-top: 30px;
	}

	.btn {
		float: right;
		font-size: 14px;
		padding: 4px 15px;
	}


	.panel {
		text-align: center;
		border-radius: 9px;

		h3 {
			font-size: 22px;
			font-weight: 500;
			margin: 10px 0 5px 0;
			color: $brand-primary;
		}


		i {
			color: #4a4a4a;
			font-size: 16px;
		}

		p {
			font-size: 14px;
			margin-top: 15px;
		}
	}
}

section.contact {
	margin: 0px 0px 6px 0px;
	transition-duration: 0s !important;
	float: left;
	width: 100%;
	height: 694px;

	.clickable {
		pointer-events: auto;
	}

	.titleSection {
		padding-top: 85px;
	}

	.content-right {
		position: absolute;
		z-index: 999;
		left: 0px;
		right: 0px;
		pointer-events: none;
	}

	h4 {
		font-size: 16px;
		margin-bottom: 30px;
	}

	.blue {
		color: $text-color;
	}

	.contact-line {
		margin-bottom: 30px;
		font-size: 14px;
		font-weight: 600;

		a {
			color: $text-color;
		}
	}



	.form-control {
		display: block;
		width: 100%;
		padding: 0px;
		margin-bottom: 15px;
		font-size: 16px;
		line-height: inherit;
		color: #1080F2;
		background-color: #fff;
		background-image: none;
		height: 46px;
		transition: none;
		background: transparent;
		border: none;
		border-bottom: 1px solid #1080F2;
		border-radius: 0px;
		box-shadow: none;
		text-shadow: none;

		&::placeholder {
			color: $brand-primary;
			font-weight: 600;
			font-size: 16px;
			box-shadow: none;
			text-shadow: none;
		}    
		&::-webkit-input-placeholder {
			color: $brand-primary;
			font-weight: 600;
			font-size: 16px;
			box-shadow: none;
			text-shadow: none;
		}

		&::-moz-placeholder {
			color: $brand-primary;
			font-weight: 600;
			font-size: 16px;
			box-shadow: none;
			text-shadow: none;
		}

		&:-moz-placeholder {
			color: $brand-primary;
			font-weight: 600;
			font-size: 16px;
			box-shadow: none;
			text-shadow: none;
		}
	}


	textarea.form-control {
		margin-bottom: 0px;
		padding-top: 10px;
		height: 80px;
	}

	samp {
		font-size: 12px;
		margin: 15px 0 30px 0;
		float: left;
		width: 100%;
	}

	.contact-bg {
		min-height: 700px;
		background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.9) 100%);
		float: right;
		width: 58.33333%;
		z-index: 9;
		position: absolute;
		right: 0;
		padding: 30px;
	}

	.btn-primary {
		color: #fff;
		background-color: #1080f2;
		border: none;
		float: right;
		position: absolute;
		bottom: 0px;
		right: 0px;
		padding: 6px 30px;
		border-bottom-left-radius: 0;
		border-top-right-radius: 0;
		border-top-left-radius: 9px;
		border-bottom-right-radius: 0;

		&:hover {
			background: darken(#1080f2, 10%);
			color: #fff;
			border: none;
		}
	}

	#map {
		width: 100%;
		position: absolute;
		min-height: 700px;
	}
}

// BLOG



section.blogNewest, .blogNewestHome {
	padding: 75px 0 30px 0;
	float: left;
	width: 100%;


	.newest {
		margin-top: 15px;

		.postInside {
			border-radius: 9px;
			box-shadow: 0px 2px 4px 0px rgba(177,181,192,0.50);
			background-size: cover !important;


			a {
				height: 100%;
				width: 100%;
				float: left;
				border-radius: 9px;
				background-position: center center;
				transition-duration: 0.5s;
			}
		}
	}
}





.blog, .blogNewestHome {

	.hentry {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 30px;
		width: 33.3333333333%;
		float: right;

		.postInside {
			width: 100%;
			height: 215px;


			a:hover {
				background: rgba(35,107,237,0.86) url(../images/hoverEffectPostSmall.svg) center 30% no-repeat; 
				transition-duration: 0.5s;
				text-decoration: none;
			}

			.title {
				top: 138px;
				font-size: 15px;
				padding-top: 21px;
				padding-right: 60px;
				font-size: 14px;



				height: 77px;
				background: url(../images/titleBoxBg.svg) bottom left no-repeat;
				position: relative;
				background-position-x: 103%;
				padding-right: 70px;
				border-bottom-left-radius: 7px;
				padding-left: 15px;
				color: $brand-primary;

				.exc {
					display: none;
				}

				.about {
					display: none;
					width: 100%;
					padding-top: 10px;
					float: left;
					font-size: 14px;
					font-weight: 600;
					color: #515151;

					.author {
						float: left;
						margin-left: 15px;
						margin-top: 0px;

						.name {
							float: left;
							width: 100%;
						}

						time {
							float: left;
							font-size: 11px;
							width: 100%;
						}

					}

					.category {
						float: right;
						font-size: 14px;
						margin-top: 5px;
					}

					.author-img {
						float: left;
						img {
							border-radius: 100%;
						}
					}
				}
			}
		}
	}




	.hentry:nth-child(4n+0) {
		width: 66.6666666667%;


		.postInside {
			width: 100%;
			height: 460px;



			a:hover {
				background: rgba(35,107,237,0.86) url(../images/hoverEffectPost.svg) center 24% no-repeat; 
				transition-duration: 0.5s;
				text-decoration: none;
			}



			.title {
				top: 284px;
				font-size: 17px;
				line-height: 70px;
				padding-top: 15px;
				height: 176px;
				background: url(../images/titleBoxBg_content.svg) bottom left no-repeat;
				position: relative;
				background-position-x: 103%;
				padding-right: 90px;
				border-bottom-left-radius: 7px;
				padding-left: 15px;
				color: $brand-primary;
				line-height: initial;

				.exc {
					padding: 15px 0;
					font-size: 15px;
					line-height: 24px;
					color: #515151;
				}


				.exc {
					display: block;
					height: 89px;
				}

				.about {
					display: block;
				}

			}
		}

	}

	.hentry:first-child {
		width: 66.6666666667%;
		float: left;

		.postInside {
			width: 100%;
			height: 460px;



			a:hover {
				background: rgba(35,107,237,0.86) url(../images/hoverEffectPost.svg) center 24% no-repeat; 
				transition-duration: 0.5s;
				text-decoration: none;
			}



			.title {
				top: 284px;
				font-size: 17px;
				line-height: 70px;
				padding-top: 15px;
				height: 176px;
				background: url(../images/titleBoxBg_content.svg) bottom left no-repeat;
				position: relative;
				background-position-x: 103%;
				padding-right: 90px;
				border-bottom-left-radius: 7px;
				padding-left: 15px;
				color: $brand-primary;
				line-height: initial;

				.exc {
					padding: 15px 0;
					font-size: 15px;
					line-height: 24px;
					color: #515151;
					height: 89px;
				}


				.exc {
					display: block;
				}

				.about {
					display: block;
				}

			}
		}


	}

	section.blogNewest, .blogNewestHome {
		padding: 20px 0 30px;
	}
}

.search-form {
	width: 100%;
	float: right;
	right: -30px;
	top: 25px;
	position: relative;

	label {
		pointer-events: all;
		display: block;
		position: relative;
		top: initial;
		left: initial;
	}

	.search-field {
		float: left;
		width: 70%;
		background: #1172d4;
		border: none;
		box-shadow: none;
		color: #fff;
		border-radius: 70px;
		font-size: 14px;
		font-style: italic;
		padding: 20px 60px 20px 20px;
	}

	.search-field::placeholder {
		color: #fff;
	}

	.search-submit {
		background: #fff;
		border: none;
		border-radius: 28px;
		color: #1080f2;
		font-weight: 700;
		padding-left: 15px;
		padding-right: 15px;
		float: left;
		width: 130px;
		position: absolute;
		top: 0;
		right: 30px;
		padding: 10px;
		font-size: 14px;

		&:hover {
			background: #0e5fb1;
			border: none;
			color: #fff;
			border-radius: 28px;
			font-size: 14px;
			font-weight: 700;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.blog,.search,.category,.author,.error404  {
	.introduction {
		background: $brand-primary;
		padding-top: 125px;
		min-height: initial;
		height: 250px;

		.titleSection {
			color: #fff;

			h1 {
				color: #fff;
			}
			h2 {
				color: #fff;
			}
		}
	}
}


section.blogNewest .newest {
	margin-left: 0px;
	margin-right: 0px;
}

.search,.category,.author {


	section.blogNewest {
		padding: 25px 0 30px 0;


		.newest {
			margin-top: 15px;
		}
	}

	.hentry {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 30px;
		width: 100% !important;
		height: 360px !important;
		float: right;

		.postInside {
			width: 100%;
			height: 360px;


			a:hover {
				background: rgba(35,107,237,0.86) url(../images/hoverEffectPostSmall.svg) center 30% no-repeat; 
				transition-duration: 0.5s;
			}

			.title {


				top: 184px;
				font-size: 17px;
				line-height: 70px;
				padding-top: 15px;
				height: 176px;
				background: url(../images/titleBoxBg_content.svg) bottom left no-repeat;
				position: relative;
				padding-right: 25%;
				float: left;

				border-bottom-left-radius: 7px;
				padding-left: 15px;
				color: $brand-primary;
				line-height: initial;



				.exc {
					padding: 15px 0;
					font-size: 15px;
					line-height: 24px;
					color: #515151;
					height: 89px;
				}

				.about {
					display: block;
					width: 100%;
					padding-top: 10px;
					float: left;
					font-size: 14px;
					font-weight: 600;
					color: #515151;

					.author {
						float: left;
						margin-left: 15px;
						margin-top: 0px;

						.name {
							float: left;
							width: 100%;
						}

						time {
							float: left;
							font-size: 11px;
							width: 100%;
						}

					}

					.category {
						float: right;
						font-size: 14px;
						margin-top: 5px;
					}

					.author-img {
						float: left;
						img {
							border-radius: 100%;
						}
					}
				}
			}














		}
	}
}

section.newsletterBlock {
	padding: 45px 0;
	float: left;
	width: 100%;

	form {
		float: left;
		width: 100%;
		margin-top: 27px;
	}


	input.wpcf7-email {
		background-image: linear-gradient(269deg,rgba(195, 213, 233, 0.29),#c3d5e9);
		border-radius: 5px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		padding: 16px 15px;
		color: #4a4a4a;
		font-size: 13px;
		float: left;
		width: 70%;
		border: none;
		font-style: italic;
		min-height: 50px;
	}

	input.wpcf7-submit {
		background: $brand-primary;
		border-radius: 0px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		float: right;
		color: #fff;
		font-weight: 600;
		width: 30%;
		padding: 12px 15px;
		font-size: 15px;
		border: none;
		min-height: 50px;
	}

	span.wpcf7-not-valid-tip {
		display: none;
	}


	.titleSection {
		margin-top: 18px;
	}


	h5 {
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 6px;
		color: $text-color;
	}

	h1 {
		font-size: 36px;
		margin: 0;
		font-weight: 600;
		color: #1080f2;
	}
}

.single {
	.newsPresent {
		section.introductionNews {
			min-height: 350px;
			background-position: top center !important;
			background-size: cover !important;
			text-align: center;
			color: #fff;
			float: left;
			width: 100%;

			h1 {
				font-size: 26px;
			}
		}

		.darkbg {
			min-height: 450px;
			background-image: linear-gradient(180deg,rgba(16, 128, 242, 0.41),rgba(16, 128, 242, 0.87));
			position: relative;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
		}
	}

	.comments {
		background-image: linear-gradient(180deg,#eef3f5,#f8fafb);
		padding: 30px 0;
		margin-top: 60px;
	}

	.entry-content {
		margin-top: 45px;

		p {
			font-weight: 400;
			font-style: normal;
			font-size: 18px;
			line-height: 34px;
			margin-bottom: 30px;
			color: #7d7d7d;
		}

		h4 {
			font-weight: 700;
			font-style: normal;
			font-size: 24px;
			margin-left: -1.5px;
			line-height: 1.22;
			margin-bottom: 8px;
			padding-top: 10px;
		}

		img {
			border-radius: 6px;
			box-shadow: 0 36px 64px 0 rgba(0,0,0,.2);
			margin: 45px 0;
		}

	}

	.about {
		width: 100%;
		margin-top: 150px;
		float: left;
		font-size: 14px;
		font-weight: 600;
		color: #fff;
		text-align: center;

		.author {
			float: left;
			width: 100%;
			margin-left: 0px;
			margin-top: 0px;
			margin-top: 15px;
			margin-bottom: 10px;

			.name {
				float: left;
				width: 100%;
				font-size: 16px;
				font-weight: 600;
				color: #fff;
			}

		}

		.bottom {
			border-top: 1px solid rgba(255, 255, 255, 0.19);
			padding-top: 10px;
			margin-top: 30px;
		}

		time {
			float: left;
			font-size: 14px;
			text-align: left;
		}

		.category {
			float: right;
			font-size: 14px;

			ul {
				margin: 0px;
				padding: 0px;

				li {
					list-style: none;
					display: inline;
					margin-left: 10px;

					a {
						color: #fff;
					}
				}
			}
		}

		.author-img {
			margin: 0 auto;
			img {
				border-radius: 100%;
			}
		}
	}

}

// PAGE: KONTAKT
.page-id-45,.page-id-692 {

	section.contact {
		margin: 0px;
		float: left;
		width: 100%;
	}

	section.socialIcon {
		display: none;
		float: left;
		width: 100%;
	}




	.titleSection {
		padding-top: 100px !important;
	}
}

@media screen and (min-width: 1200px) {
	.page-id-45 .titleSection {
		padding-top: 140px !important;
	}	
	.page-id-692 .titleSection {
		padding-top: 140px !important;
	}
}


section.features {
	padding: 80px 0px;
	float: left;
	width: 100%;



	.line-service {
		display: flex;
		align-items: center;
		position: relative;
		margin-bottom: 0;
		padding: 80px 0;
		border-bottom: 0;
	}

	.titleSection {
		margin-top: 50px;
	}

	.line-service-left:after {
		top: 50%;
		bottom: 0;
		border-width: 0 0 2px 2px;
		border-bottom-left-radius: 15px;
		content: "";
		display: block;
		left: 124px;
		right: 50%;
		position: absolute;
		z-index: -1;
		border-style: dashed;
		border-color: #c3d5e9;
	}


	.line-service-left:before {
		top: -2px;
		bottom: 50%;
		border-width: 2px 0 0 2px;
		border-top-left-radius: 15px;
		content: "";
		display: block;
		left: 124px;
		right: 50%;
		position: absolute;
		z-index: -1;
		border-style: dashed;
		border-color: #c3d5e9;
	}

	.line-service-right:before {
		right: 124px;
		top: -2px;
		bottom: 50%;
		border-width: 2px 2px 0 0;
		border-top-right-radius: 15px;
		left: 50%;
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		border-style: dashed;
		border-color: #c3d5e9;
	}

	.line-service-right:after {
		right: 124px;
		top: 50%;
		bottom: 0;
		border-width: 0 2px 2px 0;
		border-bottom-right-radius: 15px;
		left: 50%;
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		border-style: dashed;
		border-color: #c3d5e9;
	}

	.line-service:last-child:after {
		display: none;
	}

	.line-service:first-child:before {
		display: none;
	}




}


// PAGE: O NAS
.page-id-34,.page-id-689 {
	section.introduction {
		background: $brand-primary url(../images/ruska-intro-bg.png) bottom right no-repeat;
		padding-top: 80px;
		min-height: 512px;
		padding-bottom: 30px;


		.titleSection {
			padding-top: 30px;
			min-height: auto;
			padding-top: 30px;

			h1 {
				color: #fff;
			}

			h2 {
				color: #fff;
			}

			h4 {
				color: #fff;
			}
		}
	}

	section.moreAbout {
		padding: 30px 0;

		h3 {
			color: $brand-primary;
			font-size: 22px;
			font-weight: 700;
		}
	}

	section.process {
		background: #F4F7F8 url(../images/process.png) top left no-repeat;
		padding: 75px 0 30px 0;
		min-height: 690px;


		.panel-default {
			background: transparent;
			border: none;
		}

		.panel-body {
			font-size: 14px;
		}

		.panel-group {
			margin-bottom: 0px;
			margin-top: 30px;
		}

		.panel-default > .panel-heading {
			color: #fff;
			background-color: $brand-primary;
			border: 1px solid $brand-primary;
		}

		.panel-default > .panel-heading + .panel-collapse > .panel-body {
			border-top-color: transparent;
			background-image: linear-gradient(0deg, rgba(244,247,248,0.00) 0%, #FFFFFF 100%);
		}
	}

	section.whyus {
		padding: 75px 0 30px 0;
		float: left;
		width: 100%;

		.carousel-caption {
			position: initial;
		}

		.slider {
			margin: 60px 0 30px 0;
		}

		.carousel-indicators {
			bottom: -20px;
			background: #fff;
			width: 30%;
			margin-left: -15%;
		}

		.carousel-inner {
			border: 1px solid #D0D0D0;

		}

		.carousel-indicators .active {
			background: #D0D0D0;
			margin: 1px;
		}

		.carousel-control {
			position: absolute;
			top: initial;
			bottom: -15px;
			z-index: 99;
			width: 80%;
			opacity: 1;
			font-size: 20px;
			color: #1080F2;
			text-align: center;
			text-shadow: none;
			background-color: transparent;
			font-size: 28px;
		}

		.carousel-indicators {

			li {
				border: 1px solid #D0D0D0;
				width: 13px;
				height: 13px;
			}
		}

		.carousel-control.left {
			background-image: none;
		}

		.carousel-control.right {
			background-image: none;
		}

		.item {
			color: $text-color;
			padding: 30px;
			height: 250px;

			h4 {
				color: $brand-primary;
				text-shadow: none;
				font-size: 24px;
				margin-bottom: 20px;
			}

			p {
				color: $text-color;
				text-shadow: none;
				font-size: 18px;
			}
		}
	}
}

.page-id-43 {
	section.contact .titleSection {
		padding-top: 60px;
	}
}


.page-id-700 {
	section.contact .titleSection {
		padding-top: 60px;
	}
}


.page-template-template-services {

	.navbar {
		display: none;
	}

	section.services .contactinfo {
		text-align: center;
		float: left;
		width: 100%;
		font-size: 17px;
		padding-top: 20px;

		a {
			color: $text-color;
		}
	}

	.navbar-brand>img {
		display: block;
		display: block;
		height: 49px;
		margin-top: 12px;
		padding: 0;
	}

	.navbar-brand {
		float: left;
		padding: 0px;
		font-size: 18px;
		line-height: 20px;
		height: auto;
		width: 100%;
	}



	section.contactFormBottom {
		background: none;
		padding-top: 15px;
	}

	section.services {
		float: left;
		width: 100%;
		padding: 0px !important;
		background: #fafcfc url(../images/introCompanyMap-white.png) 20% 45% no-repeat;
		background-size: 35%;
	}

	section.services .line-service {
		background-color: transparent;
		padding: 100px 0 0 15px;

	}

	.box {
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
		background: #fff;
		border-radius: 5px;
	}
}

.servicePage .line-service .btn {
	display: none;
}


.boxDescription {
	margin-top: 80px;
	float: left;
	width: 100%;
	margin-bottom: 45px;

	.titleSection {
		margin-bottom: 30px;
	}

	.box {
		box-shadow: 0 0px 6px 0 rgba(0,0,0,.21);
		background: #fff;
		border-radius: 5px;
		padding: 15px;
		float: left;
		width: 100%;

		.title-left {
			margin-top: 15px;
		}

		ul {
			margin: 0px;
			padding: 0px;
			float: left;
			width: 100%;

			li {
				width: 100%;
				padding-left: 33px;
				background: url(../images/check-li.svg) no-repeat;
				float: left;
				margin-bottom: 5px;
				margin-top: 5px;
				list-style: none;

			}
		}

		h1 {
			font-size: 22px;
			margin-top: 50px;
			margin-left: 15px;
		}

		h2 {
			font-size: 25px;
			margin-left: 15px;
			font-weight: 400;
			color: $text-color;
		}

		hr {
			float: left;
			width: 100%;
			border-top: 7px solid #F4F7F8;
		}

		p {
			font-size: 13px;
			float: left;
			width: 100%;
		}

		img {
			float: left;
			width: 150px;
			margin-right: 30px;
		}


	}
}


// PAGE: Usługi
.page-id-37,.page-id-669 {

	section.services {
		float: left;
		width: 100%;
		padding: 225px 0 80px;
		background: url(../images/introCompanyMap-white.png) 50% 6% no-repeat;
		background-size: 25%;
	}

	.titleIntro .btn {
		display: none;
	}

	.titleIntro h4 {
		display: none;
	}

	.titleIntro {
		padding-bottom: 160px;
		text-align: center;
	}


	.first {
		background-image: none !important;
	}

}

.page-id-39 {
	.introduction {
		background: #F4F7F8;
		padding-top: 125px;
		min-height: initial;
		height: 450px;
//        background: #F4F7F8 url(../images/design-1.png) top right no-repeat;
}

.titleSection {
	h1 {
		font-size: 36px;
		margin: 0px;
		font-weight: 400;
		color: $brand-primary;
	}

	h2 {
		color: #4a4a4a;
		font-size: 32px;
		margin: 0px;
		font-weight: 300;
		margin-top: 5px;
		margin-bottom: 20px;
	}

	h4 {
		color: #4a4a4a;
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
	}
}
.process {
	margin-top: 30px;

	.titleSection {
		margin-bottom: 60px;
	}

	h4 {
		text-align: left;
		color: $brand-primary;
	}

	h3 {
		text-align: center;
		color: $brand-primary;
	}

	.line {
		float: left;
		position: relative;
		left: -90px;
		top: -10px;
		width: 100px;
	}

	.left {
		margin-top: 187px;
	}

	.left .line {
		float: right;
		right: -90px;
		left: initial;
	}

	.block {
		background: #F4F7F8;
		position: relative;
		top: -25px;
		padding: 50px;

		height: 315px;
		margin-bottom: 60px;
	}

	.development {
		background: $brand-primary;
		color: #fff;
		height: auto;
		margin-bottom: 0px;

		.btn {
			border-color: #fff;
			color: #fff;
			margin-top: 10px;
			padding: 4px 15px;

			&:hover {
				background: #fff;
				color: $brand-primary;
			}
		}

		h4 {
			font-size: 36px;
			color: #fff;
			font-weight: 300;
		}
	}

}

.picto {
	margin-bottom: 40px;
	margin-top: 0px;
	width: 90%;
}

.padd {
	margin-top: 80px;
}

.about-design p {
	text-align: justify;
}

.personCard {
	margin-top: 180px;
}
}

.page-id-158 .projectPresent .titleProject {
	display: none;
}

.projectPresent {
	section.introductionProject {
		min-height: 650px;
		background-position: top center !important;
		background-size: cover !important;
		text-align: center;


		.navProject {
			margin-top: 130px;
			width: 100%;
			text-align: center;
			margin-bottom: 20px;

			a {
				color: #fff;
				margin: 0px 3px;
			}

			.left {
				margin-right: 5px;
			}

			.right {
				margin-left: 5px;
			}


			.projectShow {
				margin-top: -3px;
			}
		}

		.device {
			display: inline;
			margin-top: 30px;
			width: 60%;
			height: auto;
		}

		.titleProject {
			width: 100%;
			text-align: center;
			h1 {
				font-size: 48px;
				font-weight: 700;
				color: #fff;
			}
		}

	}

	section.about {
		padding: 75px 0 75px 0;
		text-align: center;

		h2 {
			color: $brand-primary;
			font-weight: 600px;
			font-size: 32px;
			margin-bottom: 20px;
		}

		p {
			color: $text-color;
			line-height: 22px;
			font-size: 16px;
		}
	}


	section.aboutNumber {
		background: #F4F7F8;
		border-top: 1px solid #ECECEC;
		border-bottom: 1px solid #ECECEC;
		padding: 75px 0 50px 0;
		text-align: center;

		h4 {
			font-size: 18px;
		}

		.iconBox {
			height: 85px;
		}
	}


	section.showcaseBottom {
		background: #F4F7F8;
		border-top: 1px solid #ECECEC;
		border-bottom: 1px solid #ECECEC;
		padding: 75px 0 50px 0;
		text-align: left;
	}

	.aboutOdd .shot {
		left: -100%;
		position: inherit;
	}



	section.shotPreview {
		overflow: hidden;
		background: url(../images/show-bg.jpg) top center;
		padding: 120px 0 30px 0;

		.shot {
			border-radius: 9px;
			box-shadow: 0px 2px 4px 0px rgb(51, 52, 54);
			transition-duration: 0.5s;
			cursor: move;
			z-index: 999;
		}

		.about {
			.shotFull {

				position: inherit;
				margin-left: -72.5%;
				cursor: e-resize;
				transition-duration: 0.8s;
			}

			.contenShot {
				opacity: 1;
				transition-duration: 1s;
				position: relative;
				left: 0px;
			}

			.fadeContent {
				opacity: 0;
				transition-duration: 0.8s;
				position: relative;
				left: 30px;
			}
		}

		.aboutOdd {
			.shotFull {

				left: -100%;
				position: inherit;
				margin-left: 79%;

				cursor: w-resize;
				transition-duration: 0.8s;
			}

			.contenShot {
				opacity: 1;
				transition-duration: 1s;
				position: relative;
				right: 0px;
			}

			.fadeContent {
				opacity: 0;
				transition-duration: 0.8s;
				position: relative;
				right: 50px;
			}
		}

		.btn {
			background: transparent;
			color: #fff;
			padding: 5px 15px;
			font-size: 14px;
			margin-top: 15px;
			border-color: #fff;
			transition-duration: 0.2s;

			i {
				margin-right: 5px;
			}

			&:hover {
				background: #fff;
				border-color: #fff;
				color: $brand-primary;
				transition-duration: 0.2s;
			}
		}


		.title {
			margin-bottom: 90px;
			h2 {
				color: #fff;
				font-weight: 600px;
				font-size: 32px;
				text-align: center;

			}
		}

		.about {
			margin-bottom: 45px;

			h1 {
				margin: 0px;
				font-size: 22px;
				margin-top: 55px;
				font-weight: 500;
				color: #fff;
			}

			h2 {
				margin: 0px;
				color: #fff;
				font-size: 28px;
				font-weight: 300;
				margin-top: 5px;
				margin-bottom: 20px;
			}

			p {
				font-size: 15px;
				color: #fff;
			}

			.infoPrev {
				padding: 10px 0;
				font-size: 13px;

				i {
					margin-right: 8px;
				}
			}
		}
	}

	section.opinion {
		padding: 75px 0 30px 0;

		.titleSection {
			margin-bottom: 45px;
		}

		.titleSection h1 {
			font-size: 32px;
		}

		.col-sm-offset-1 {
			margin-left: 12.33333%;
		}

		.icon {
			img {
				width: 70%;
			}
		}

		.technology-center {
			text-align: center;

			.iconSpec {
				text-align: center;
				margin-bottom: 45px;
				margin-top: 20px;
			}

			img {
				display: inline !important;
			}
		}

		.iconSpec {
			margin-top: 60px;
			width: 100%;
			float: left;
		}

		.panel {
			text-align: center;
			border-radius: 9px;

			h3 {
				font-size: 22px;
				font-weight: 500;
				margin: 10px 0 5px 0;
				color: $brand-primary;
			}


			i {
				color: #4a4a4a;
				margin-bottom: -11px;
				display: block;
			}

			p {
				font-size: 14px;
				margin-top: 15px;
			}
		}
	}


}

section.contactFormBottom {
	background: url(../images/map-bg2.png) center center no-repeat;
	padding: 75px 0 30px 0;
	float: left;
	width: 100%;


	.titleSection {
		margin-top: 10px;
		h1 {
			font-size: 34px;
			margin: 0px;
			font-weight: 400;
			color: $brand-primary;
		}

		h2 {
			color: $brand-primary;
			font-size: 28px;
			margin: 0px;
			font-weight: 300;
			margin-top: 5px;
			margin-bottom: 20px;
		}

		h4 {
			color: $text-color;
			font-size: 18px;
			font-weight: 400;
			line-height: 22px;
		}
	}

	.sep {
		color: #6D6D6D;
		font-size: 14px;
		padding: 15px 0;
		width: 100%;
		text-align: center;
		float: left;
	}

	.btn-default {
		width: 100%;
	}

	.phone-contact {
		text-align: center;
		margin-bottom: 20px;
		span {
			color: #6D6D6D;
			font-size: 12px;
			text-transform: uppercase;
		}
		h3 {
			color: $brand-primary;
			margin-top: 5px;
			padding-top: 0px;
			font-size: 28px;
		}
	}

	form {
		background: $brand-primary;
		padding: 15px 15px 30px 15px;
		border-radius: 9px;

		.title {
			text-align: center;
			margin-bottom: 50px;
			h3 {
				color: #fff;
				text-align: center;
				font-size: 25px;
			}
		}

		input {
			border-bottom: 1px solid #fff;
			color: #fff;
		}

		label {
			color: #fff;
		}

		input:focus ~ label, input:valid ~ label {
			color: #fff;
		}

		.bar:before, .bar:after {
			background: #fff;
		}

	}

	.btn-primary {
		color: #fff;
		background-color: $brand-primary;
		border-color: #fff;
		width: 100%;
		padding: 10px 30px;
		border-radius: 9px;
		transition-duration: 0.5s;

		&:hover {
			background: #fff;
			color: $brand-primary;
			transition-duration: 0.5s;
		}
	}

}

section.carrot {
	background: #1c2747;
	padding: 45px 0;
	margin-top: 0px;
	float: left;
	width: 100%;


	.call2action {
		margin-top: 38px;

		a {
			background: transparent;
			border-color: #fff;
			color: #fff;
			width: 100%;

			&:hover {
				background: #fff;
				color: $brand-primary;
			}

		}
	}

	.titleSection {
		text-align: left;

		h1 {
			font-size: 32px;
			margin: 0px;
			font-weight: 400;
			color: #fff;
		}

		h2 {
			color: #fff;
			font-size: 28px;
			margin: 0px;
			font-weight: 300;
			margin-top: 5px;
			margin-bottom: 20px;
		}
	}
}



section.showCase {
	background: url(../images/map-bg.png) top center no-repeat; 
	padding: 75px 0 30px 0;
	background-position-y: 50px;
	float: left;
	width: 100%;

	.titleSection {
		text-align: center;

		h5 {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 14px;
			color: $text-color;
		}

		h1 {
			font-size: 32px;
			font-weight: 600;
			color: $brand-primary;
		}
	}

	.singleBox {
		margin-top: 45px;
	}

	.single {
		margin-bottom: 30px;
		border-radius: 9px;
		box-shadow: 0px 2px 4px 0px rgba(177,181,192,0.50);
		background-size: cover !important;

		a {
			height: 100%;
			width: 100%;
			float: left;
			border-radius: 9px;
			background-position: center center;
			transition-duration: 0.5s;
		}

		a:hover {
			text-decoration: none;
		}

		.title {
			height: 77px;
			background: url(../images/titleBoxBg.svg) bottom left no-repeat;
			position: relative;
			padding-right: 70px;
			background-position-x: -180px;
			border-bottom-left-radius: 7px;
			padding-left: 15px;
			color: $brand-primary;

			h3 {
				font-size: 19px;
				font-weight: 700;
				color: $text-color;
				margin: 0px;
				padding: 0px;
				margin-top: 15px;
				margin-bottom: 3px;
			}

			p {
				color: $text-color;
				font-size: 14px;

				span {
					color: $brand-primary;
					font-weight: 700;
				}
			}

		}
	}

	.singleHalf {
		width: 100%;
		height: 340px;



		a:hover {
			background: rgba(35,107,237,0.86) url(../images/hoverEffectPost.svg) center 24% no-repeat; 
			transition-duration: 0.5s;
		}



		.title {
			top: 263px;
			font-size: 17px;
			padding-top: 7px;
		}
	}


	.projecthover a:hover {
		background: rgba(132, 191, 65, 0.85) url(../images/hoverEffectPost.svg) center 32% no-repeat;
	}



}

.wpcf7-form p {
	margin: 0px !important;
	padding: 0px !important;
}

.wpcf7-response-output {
	border: none !important;
	color: #fff;
	background: #0e71d6;
	border-radius: 8px;
	font-size: 14px;
	text-align: center;
	padding: 10px !important;
	margin: 30px 15px 0px 15px !important;
}

.page-id-43,.page-id-700 {
	.titleSection {
		margin-top: 15px;
		h1 {
			font-size: 36px;
			margin: 0px;
			font-weight: 400;
			color: #fff;
		}

		h2 {
			color: #fff;
			font-size: 32px;
			margin: 0px;
			font-weight: 300;
			margin-top: 5px;
			margin-bottom: 20px;
		}

		h4 {
			color: #fff;
			font-size: 18px;
			font-weight: 400;
			line-height: 22px;
		}
	}
}





.shotButton {
	color: #fff;
	font-size: 13px;
	padding: 5px 15px;
	border: 2px solid #fff;

	&:hover {
		color: #fff;
		background: $brand-primary;
		font-size: 13px;
		padding: 5px 15px;
		border: 2px solid $brand-primary;
	}
}

input#name.form-control {
	&::-moz-placeholder {
		color: #0C69C7 !important;
		font-size: 14px;
		font-style: italic;
	}

	&:-moz-placeholder {
		color: #0C69C7 !important;
		font-size: 14px;
		font-style: italic;
	}
}

.circle-home {
	height: 236px;
	display: inline;
}

.page-id-264 {
	margin: 0;
	height: 100%;
	overflow: hidden;

	.introduction {
		background: #1080f2;
		padding-top: 125px;
		min-height: 0;
		height: 250px;
		color: #fff;
		float: left;
		width: 100%;

		h1 {
			font-size: 28px;
			color: #fff;
		}

		h2 {
			color: #fff;
		}
	}
}


.page-id-557 {
	background: #0e6ed0;

	.boxDescription .box h1 {
		font-size: 15px;
		margin-top: 15px;
		margin-left: 15px;
		font-weight: bold;
		margin-bottom: 10px;
	}


	.boxDescription {
		.btn-default {
			margin-top: 20px;
		}
	}


	.introduction {
		background: #1080f2;
		padding-top: 125px;
		min-height: 0;
		height: 250px;
		color: #fff;

		h1 {
			font-size: 28px;
			color: #fff;
		}

		h2 {
			color: #fff;
		}
	}
}



@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px) {
	.page-id-39 .introduction {
		height: auto;
	}

	.page-id-39 .picto {
		margin-top: 30px;
	}

	footer h4 {
		color: #fff;
		font-size: 14px;
	}

	section.newsletterBlock h1 {
		font-size: 18px;
	}

	.page-id-39 .about-design p {
		text-align: justify;
		font-size: 13px;
	}

	section.services .line-service .box {
		min-height: 156px;
		font-size: 11px;
	}

	section.services .line-service .box span {
		font-size: 11px;
	}


	.navbar .call2action {
		display: none;
	}

	section.presentProjecIntro {
		height: 540px;
	}

	section.presentProjecIntro .details p {
		font-size: 12px;
	}

	section.presentProjecIntro .details .contentSlide {
		float: left;
		height: auto;
	}

	section.presentProjecIntro .navSlide {
		bottom: 17px;
	}

	.blog .hentry:first-child .postInside .title .exc, .blogNewestHome .hentry:first-child .postInside .title .exc {
		padding: 9px 0;
		font-size: 13px;
		line-height: 19px;
		color: #515151;
		height: auto;
		display: block;
	}

	.blog .hentry .postInside .title, .blogNewestHome .hentry .postInside .title {
		top: 138px;
		font-size: 15px;
		padding-top: 21px;
		padding-right: 60px;
		font-size: 12px;
		height: 77px;
	}

	.blog .hentry .postInside .title .about .category, .blogNewestHome .hentry .postInside .title .about .category {
		float: right;
		font-size: 12px;
		margin-top: 9px;
	}

	.titleSection h4 {
		font-size: 16px !important;
	}

	.titleSection h2 {
		font-size: 27px !important;
	}

	.introduction {
		height: auto !important;
	}

	.projectPresent section.introductionProject {
		min-height: auto !important;
	}

	.projectPresent .shot {
		left: initial !important;
		position: relative !important;
		display: block;
		max-width: 100%;
		height: auto;
	}

	.search-form {
		width: 100%;
		float: right;
		right: -20px;
		top: 25px;
	}

	.projectPresent section.shotPreview .about .infoPrev {
		display: none;
	}

	section.presentProjecIntro, section.presentProjecIntro #carousel-example-generic .item {
		height: 535px;
	}

}


@media screen and (max-width: 992px) {
	.navbar .navbar-brand>img {
		display: block;
		height: 37px;
		margin-top: 21px;
		padding: 0;
	}

	.blog .hentry:first-child .postInside .title .exc, .blogNewestHome .hentry:first-child .postInside .title .exc {
		padding: 19px 0;
		font-size: 13px !important;
		max-height: 66px !important;
	}

	.blog .hentry:first-child .postInside .title .exc, .blogNewestHome .hentry:first-child .postInside .title .exc {
		padding: 19px 0;
		font-size: 11px !important;
	}

	footer .place p {
		font-size: 11px;
	}

	.blog .hentry .postInside .title .about .category, .blogNewestHome .hentry .postInside .title .about .category {
		display: none !important;
	}

	footer .place strong {
		font-size: 11px !important;
	}

	footer h4 {
		min-height: 60px;
	}

	.circle-home {
		height: auto;
	}

	.blog .hentry:first-child .postInside .title .exc, .blogNewestHome .hentry:first-child .postInside .title .exc {
		padding: 19px 0;
		font-size: 11px;
	}

	.personCard img {
		float: left;
		height: 100px;
	}

	section.services .line-service .box {
		min-height: 80px;
	}

	section.presentProjecIntro, section.presentProjecIntro #carousel-example-generic .item {
		height: 365px;
	}

	section.services .line-service .box span {
		display: none;
	}

	.personCard h5 {
		margin-top: 11px;
	}

	section.presentProjecIntro .details p {
		display: none;
	}

	section.presentProjecIntro .details .navBottom {
		margin-top: 10px;
		float: left;
		width: 100%;
	}

	section.processService .titleSection h1 {
		font-size: 33px;
	}

	section.processService .titleSection {
		text-align: center;
		height: 190px;
	}

	.blog .hentry:first-child .postInside .title .exc, .blogNewestHome .hentry:first-child .postInside .title .exc {
		padding: 19px 0;
		font-size: 13px;
	}

	.process .block {
		font-size: 13px;
		padding: 30px !important;
	}

	.design .btn-default, .design .search-form .design .search-submit {
		background: transparent !important;

		&:hover {
			background: #fff !important;
			color: $brand-primary !important;
		}
	}

	.navbar .navbar-brand>img {
		margin-left: 0px;
	}

	.design {
		.line-service p {
			margin-bottom: 60px !important;
		}
	}

	.left-bg {
		height: auto;
	}

	.right-sep {
		text-align: center;

		img {
			display: inline !important;
		}
	}

	section.carrot .titleSection h2 {
		font-size: 20px !important;
	}

	section.showCase .single .title p {
		color: #4a4a4a;
		font-size: 11px;
	}

	.nav>li>a {
		padding: 10px 9px;
	}

	.agile-line {
		background: #fff !important;
	}

	section.presentProjecIntro {
		height: auto;
	}

	section.presentProjecIntro #carousel-example-generic .item {
		height: auto;
	}

	section.presentProjecIntro, section.presentProjecIntro #carousel-example-generic .item {
		height: 364px;
	}

}


@media screen and (max-width: 768px) {

	.navbar .navbar-brand>img {
		display: block;
		height: 37px;
		margin-top: 21px;
		padding: 0;
	}

	section.introCompany .titleSection {
		padding-top: 50px;
	}

	section.services .line-service {
		background-color: #f4f7f8;
		padding: 60px 0 30px;
	}

	footer ul {
		float: left;
		width: 100%;
	}

	footer h4 {
		float: left;
		width: 100%;
		margin-top: 30px;
		min-height: 30px;
	}

	.line-service-left img {
		display: none;
	}

	.line-service-right img {
		display: none;
	}

	section.features .line-service-right:before {
		display: none;
	}

	section.features .line-service-right:after {
		display: none;
	}

	section.features .line-service-left:before {
		display: none;
	}

	section.features .line-service-left:after {
		display: none;
	}

	section.features .line-service {
		padding: 0px 0;
	}

	.navbar-toggle {
		margin-top: 20px;
	}

	.boxDescription .box img {
		width: 100%;
	}

	.boxDescription .box {
		margin-bottom: 30px;
	}


	footer .place {
		font-size: 13px !important;
		float: left;
		width: 100%;

		p {
			font-size: 13px;
		}

		strong {
			font-size: 13px;
		}
	}

	.btn-default, .search-form .search-submit {
		background: #fff;
		border: 2px solid #1080f2;
	}

	section.tag-list {
		min-height: 43px;
		background: #f6f9fa;
		border-bottom: 1px solid #e1e1e1;
		padding-top: 0px;
		font-size: 13px;
	}


	section.presentProjecIntro .details p {
		display: none;
	}

	.navbar .navbar-brand>img {
		margin-left: 15px;
	}

	.nav>li>a {
		padding: 10px 9px;
	}

	section.processService .process .last .processC4 {
		position: absolute;
		top: -138px;
		right: -122px;
	}

	section.services .line-service p {
		font-size: 15px;
		color: #4a4a4a;
	}

	.btn-default, .search-form .search-submit {
		background: #fff;
		border: 2px solid #fff;
	}

	.blog .hentry .postInside .title, .blogNewestHome .hentry .postInside .title {
		top: 138px;
		font-size: 15px;
		padding-top: 34px;
		padding-right: 60px;
		font-size: 15px;
		height: 77px;
	}

	.blog .hentry, .blogNewestHome .hentry {
		width: 100% !important;
	}

	section.services .line-service h2 {
		font-size: 24px;
	}

	.single .newsPresent section.introductionNews h1 {
		font-size: 19px;
		padding: 0 15px;
	}

	.single .entry-content p {
		font-weight: 400;
		font-style: normal;
		font-size: 16px;
		line-height: 31px;
		margin-bottom: 30px;
		color: #7d7d7d;
	}

	.blog .hentry .postInside .title, .search .hentry .postInside .title, .blogNewestHome .hentry .postInside .title {
		top: 138px !important;
		padding-top: 18px !important;
		padding-right: 60px !important;
		font-size: 14px !important;
		height: 77px !important;
		line-height: 17px !important;
		background: url(../images/titleBoxBg.svg) 0 100% no-repeat;
		position: relative;
		background-position-x: 103%;
		border-bottom-left-radius: 7px;
		padding-left: 15px;
		color: #1080f2;

		.exc,.about {
			display: none !important;
		}
	}	

	.blog .hentry:first-child .postInside .title, .blogNewestHome .hentry:first-child .postInside .title {
		top: 138px !important;
		padding-top: 18px !important;
		padding-right: 60px !important;
		font-size: 14px !important;
		height: 77px !important;
		line-height: 17px !important;
		background: url(../images/titleBoxBg.svg) 0 100% no-repeat;
		position: relative;
		background-position-x: 103%;
		border-bottom-left-radius: 7px;
		padding-left: 15px;
		color: #1080f2;

		.exc,.about {
			display: none !important;
		}
	}	

	.blog .hentry:nth-child(4n+0) .postInside .title, .blogNewestHome .hentry:nth-child(4n+0) .postInside .title {
		top: 138px !important;
		padding-top: 18px !important;
		padding-right: 60px !important;
		font-size: 14px !important;
		height: 77px !important;
		line-height: 17px !important;
		background: url(../images/titleBoxBg.svg) 0 100% no-repeat;
		position: relative;
		background-position-x: 103%;
		border-bottom-left-radius: 7px;
		padding-left: 15px;
		color: #1080f2;

		.exc,.about {
			display: none !important;
		}
	}

	section.processService .process .last .processC4 {
		display: none !important;
	}


	.blog .hentry:nth-child(4n+0) .postInside, .blogNewestHome .hentry:nth-child(4n+0) .postInside {
		width: 100%;
		height: 215px;
	}

	.author .hentry .postInside, .category .hentry .postInside, .search .hentry .postInside {
		width: 100%;
		height: 215px;
	}

	section.processService .process .last .contentProcess {
		margin-top: 0px;
	}

	.author .hentry, .category .hentry, .search .hentry {
		width: 100%;
		height: 215px !important;
	}

	.page-id-34 section.whyus .item p {
		color: #4a4a4a;
		text-shadow: none;
		font-size: 14px;
	}

	.page-id-34 section.whyus .carousel-control {
		width: 65%;
	}

	.page-id-34 section.whyus .item {
		color: #4a4a4a;
		padding: 30px;
		height: 370px;
	}




	.page-id-689 section.whyus .item p {
		color: #4a4a4a;
		text-shadow: none;
		font-size: 14px;
	}

	.page-id-689 section.whyus .carousel-control {
		width: 65%;
	}

	.page-id-689 section.whyus .item {
		color: #4a4a4a;
		padding: 30px;
		height: 370px;
	}

	.page-id-37 {
		background: #fff;
		overflow: auto;
	}

	.page-id-37 .dev {
		padding-top: 190px;
		padding-bottom: 60px;
		background: #2b3940 url(../images/development-1.png) repeat-y;
	}

	.page-id-669 {
		background: #fff;
		overflow: auto;
	}

	.page-id-669 .dev {
		padding-top: 190px;
		padding-bottom: 60px;
		background: #2b3940 url(../images/development-1.png) repeat-y;
	}

	.projectPresent section.shotPreview .aboutOdd {
		margin-bottom: 45px;
		border-top: 12px solid rgba(255, 255, 255, 0.41);
		padding-top: 30px;
	}

	.author .introduction, .blog .introduction, .category .introduction, .error404 .introduction, .search .introduction {
		background: #1080f2;
		padding-top: 125px;
		min-height: 0;
		height: 320px !important;
	}

	.search-form .search-field {
		padding: 22px 60px 22px 20px;
	}

	section.showCase .single .title p {
		color: #4a4a4a;
		font-size: 11px;
		display: none;
	}

	.projectPresent section.introductionProject .titleProject h1 {
		font-size: 29px;
	}

	.search-form {
		width: 100%;
		float: right;
		right: 0px;
		top: 25px;
	}

	.page-id-37 .design {
		padding-bottom: 50px;
	}

	.page-id-669 .design {
		padding-bottom: 50px;
	}

	.page-id-34 section.process {
		background: #f4f7f8 url(../images/process.png) 106% 0 no-repeat;
	}

	.page-id-34 section.introduction {
		background: #1080f2 url(../images/ruska-intro-bg.png) 0% 100% no-repeat;
	}


	.page-id-689 section.process {
		background: #f4f7f8 url(../images/process.png) 106% 0 no-repeat;
	}

	.page-id-689 section.introduction {
		background: #1080f2 url(../images/ruska-intro-bg.png) 0% 100% no-repeat;
	}

	.blog .hentry:first-child .postInside, .blogNewestHome .hentry:first-child .postInside {
		width: 100%;
		height: 215px;
	}

	.blog .hentry .postInside .title, .blogNewestHome .hentry .postInside .title {
		top: 138px;
		padding-top: 23px;
		padding-right: 60px;
		font-size: 14px;
		height: 77px;
	}

	.btn-default, .search-form .search-submit {
		background: #fff;
		border: 2px solid #1080f2;
	}

	.titleSection h2 {
		font-size: 21px!important;
	}

	section.socialIcon .icon {
		text-align: center;
		margin-top: 35px;
	}

	section.ourTechnology {
		padding: 30px 0 30px;
		float: left;
		width: 100%;
	}

	section.ourTechnology .icon .img-responsive {
		display: initial!important;
		height: 40px;
	}

	section.ourTechnology .icon {
		margin-top: 0px;
		text-align: center;
	}

	section.ourTechnology .icon-line-1 {
		margin-top: 0px;
	}

	.page-id-41 {
		.introduction {
			background: #2B3940 !important;
		}
	}

	.navbar .navbar-nav li a {
		text-align: center;
	}

	.navbar-inverse .navbar-toggle {
		border-color: #0c69c7;
		margin-right: 15px;
	}

	section.processService .nav-tabs {
		width: 100%;
	}

	section.tag-list {
		min-height: 65px;
		background: #f6f9fa;
		border-bottom: 1px solid #e1e1e1;
		padding-top: 75px;
		font-size: 13px;
	}

	section.processService .process .last, section.processService .process .processC3 {
		text-align: center;
		margin-top: 30px;
		float: left;
		width: 100%;
	}

	section.processService .process .last .processC4 {
		position: absolute;
		top: -138px;
		right: -73px;
	}

	.tab-content img {
		margin-bottom: 30px;
	}

	section.tag-list ul li {
		display: inline;
		list-style: none;
		margin-bottom: 10px;
		float: left;
		color: #253746;
		margin-right: 15px;
		font-weight: bold;
	}

	section.processService .nav-tabs {
		width: auto;
	}

	.navbar-inverse .navbar-toggle.collapsed .icon-bar {
		background: $brand-primary !important;
	}

	.navbar-inverse .navbar-toggle .icon-bar {
		background: #fff !important;
	}

	.navbar .navigation-right {
		float: right;
		width: 100%;
		background: #fff;
		border-radius: 6px;
		box-shadow: 0 15px 15px 0 rgba(0,0,0,.2);
		margin-top: 30px;
	}

	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border: none;
		margin: 0px;
		overflow: initial;
		max-height: initial;
	}

	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
		color: #1080f2;
		margin: 0 30px;
		border-radius: 6px;
		background: #f5f8f9;
	}

	.navbar-nav {
		margin: 14.5px -15px;
		overflow: scroll;
		max-height: 300px;
	}

	.navbar .navigation-right {
		float: right;
		width: 100%;
		background: #fff;
	}

	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
		background: #086ed6;
	}

	.page-2 section.whyus .item {
		height: 350px;
	}

	.navbar .navbar-brand > img {
		margin-left: 15px;
	}
}


footer {
	background: $brand-primary;
	padding-top: 40px;
	color: #fff;
	width: 100%;
	float: left;

	.copy {
		font-size: 13px;
		padding-bottom: 18px;
	}

	.icon {
		float: right;
		margin-top: -2px;

		a {
			margin-left: 15px;
		}

		img {
			height: 12px;

		}
	}

	a {
		color: #fff;
	}

	a:hover {
		color: #fff;
	}

	.contactinfo {
		margin-top: 30px;
		float: left;
		line-height: 30px;
	}


	ul {
		list-style: none;
		margin: 0px;
		padding-left: 0px;
		margin-top: 10px;
		margin-bottom: 30px;
	}

	.maps {
		background: url(../images/introCompanyMap.png) no-repeat;
		background-size: 100%;
		float: left;
	}

	.place {
		margin-top: 20px;
		font-size: 13px;
		line-height: 22px;
		float: left;
		width: 50%;

		strong {
			font-size: 14px;
		}


		img {
			float: left;
			margin-right: 10px;
			margin-top: 1px;
		}

		p {
			float: left;
		}
	}

	h4 {
		color: #fff;
		font-size: 19px;
		font-weight: 700;
		background: url(../images/title_bottom.svg) bottom left;
		padding-bottom: 8px;
		background-repeat: no-repeat;
		margin-top: 5px;
	}

	ul li a {
		color: #fff;
		line-height: 25px;
		font-size: 16px;
		-webkit-transition: 0.6s; 
		transition: 0.6s;
		font-size: 14px;
		padding-left: 0px;
	}

	ul li a:hover {
		color: #fff;
		text-decoration: none;
		-webkit-transition: 0.6s; 
		transition: 0.6s;
		padding-left: 5px;
	}

	ul li:before {
		content: "\f105";
		font-family: "FontAwesome";
		font-weight: lighter;
		margin-right: 5px;
		font-size: 14px;
		color: #fff;
	}
}


section.portfolioLine {

}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
	section.introCompany {
		background-size: 50%;
	}
}






.projectPresent section.introductionProject .device {
	display: inline;
	margin-top: 60px;
	width: 100%;
	height: auto;
}

.postInside {
	background-position: top center !important;
}

.single .entry-content ul {
	margin-top: 0;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 34px;
	margin-bottom: 0px;
	color: #7d7d7d;
	margin-top: -20px;
	list-style-type: decimal;
}

.author .hentry {
	width: 50%!important;
}


.author .hentry .postInside .title {
	padding-right: 15px;
}

.blog .hentry:first-child .postInside .title, .blogNewestHome .hentry:first-child .postInside .title {
	background-position-x: 98%;
}

.single .entry-content ol {
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 34px;
	margin-bottom: 30px;
	color: #7d7d7d;
}

.author .hentry .postInside .title {
	font-size: 15px;
}

.author .hentry .postInside .title .exc {
	font-size: 13px;
	line-height: 19px;
}

.author .hentry .postInside .title .about .category {
	float: right;
	font-size: 12px;
	margin-top: 7px;
}


.single .entry-content ul li ul {
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-type: disc;
}


.small-contact {
	font-size: 13px;
	line-height: 23px;
}


@media screen and (max-width: 992px) {
	.author .hentry {
		width: 100%!important;
		height: 365px!important;
	}
	.author .hentry .postInside .title .about .category { display: none;}
	.author .hentry .postInside .title .exc {font-size: 12px;}
}

#en_GB section.content-lay-1 {
	background-image: linear-gradient(-180deg,#fff,#f9f9f9) !important;
}